#viewport {
	position: absolute;
	height: 80%;
	width: 75%;
	overflow: default;
	margin: 0;
	padding: 0;
}

body {
	background-image: url("../assets/moto.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	font-family: 'Sniglet', cursive;
	color: White;
}

.container-fluid{
	margin-top: 0;
	margin-bottom: 0;
	padding: 20px;
}

h1{
	font-family: 'Walter Turncoat', cursive;
}


#spdSld .slider-handle {
	background: red;
}

/*#curve4 {*/
	/*width: 200px;*/
/*}*/

/*#curve5{*/
	/*width: 200px;*/
/*}*/