#viewport {
	position: absolute;
	height: 80%;
	width: 75%;
	overflow: default;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Sniglet', cursive;
  	background-color: lightblue;
}

h1{

	font-family: 'Walter Turncoat', cursive;
}