<!DOCTYPE html>
<html ng-app>
<head>
    <meta charset="utf-8">
    <meta content="utf-8" http-equiv="encoding">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Walter+Turncoat' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Sniglet' rel='stylesheet' type='text/css'>
    <script src="js/lib/angular.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/main.css" />
    <script type="text/x-mathjax-config">
  MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});

</script>
    <script type="text/javascript"
            src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>
</head>
<body>
<main class="container-fluid">
    <title>INFO 474 | Motorcycle lean angle calculator</title>
    <h1>Welcome to motorcycle lean angle calculator</h1>
    <div class="row">
        <div class="col-lg-3">
            <div class="input-group">
                <input type="text" class="form-control" ng-model="speed" placeholder="Enter a speed here" id="speed">
                <span class="input-group-addon">MPH</span>
            </div>
        </div>
        <div class="col-lg-3">
        <div class="input-group">
            <input type="text" class="form-control" ng-model="radian" placeholder="Enter a corner radian here" id="radian">
            <span class="input-group-addon">Feet</span>
        </div><!-- /input-group -->
        </div>
        <div class="col-lg-3">
            <button id="search" class="btn btn-primary">Run</button>
        </div>
    </div><!-- /.col-lg-6 -->
    </div><!-- /.row -->

<hr>
    <h2>Speed: {{speed== null || speed == "" ? "0" : speed}} mph!</h2>
    <h2>Radian: {{radian== null || radian == "" ? "0" : radian}} feet!</h2>
    <h2>Lean Angle: <span id="lean"></span></h2>
    When $a \ne 0$, there are two solutions to \(ax^2 + bx + c = 0\) and they are
    $$x = {-b \pm \sqrt{b^2-4a} \over 2a}.$$
    <hr>
</main>

<div id="viewport"></div>
<div id="viewport2"></div>
<svg id="graph" width="1000" height="500"></svg>
<div class="tooltipDiv"></div>
</body>

<script src="js/lib/three.js"></script>
<script src="js/lib/physi.js"></script>
<script src="js/lib/d3.min.js"></script>
<script src="js/lib/babylon.js"></script>
<script src="js/lib/cannon.js"></script>
<script src="js/lib/oimo.js"></script>
<script src="js/lib/jQuery.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script src="js/app.js"></script>
</html>